@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --text: hsla(0, 0%, 100%, 0.88);
    --title: #fff;
    --bg: #282c35;
    --code-bg: #191d27;
    --link: #ffa7c4;
    --inlineCode-bg: rgba(115, 124, 153, 0.2);
    --inlineCode-text: #e6e6e6;
    --pink: lab(81 32.36 -7.02);
    --purple: lab(78 19.97 -36.75);
    --lightLink: lab(62.983 59.31 -1.493);
    --darkLink: lab(80.998 32.353 -7.037);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
